<div class="backdrop" [ngClass]="{ 'show-aside': aside$ | async }">
  <div
    class="
      d-flex
      flex-column flex-shrink-0
      p-3
      text-white
      bg-dark
      position-absolute
      aside
    "
    style="width: 280px"
  >
    <a
      href="/"
      class="
        d-flex
        align-items-center
        mb-3 mb-md-0
        me-md-auto
        text-white text-decoration-none
      "
    >
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#home"></use>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#speedometer2"></use>
          </svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#table"></use>
          </svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#grid"></use>
          </svg>
          Products
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16">
            <use xlink:href="#people-circle"></use>
          </svg>
          Customers
        </a>
      </li>
    </ul>

    <div class="text-end">
      <button
        type="button"
        class="btn btn-outline-light me-2"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login
      </button>
      <button
        type="button"
        class="btn btn-warning"
        (click)="hide_aside()"
        [routerLink]="['/register']"
        routerLinkActive="router-link-active"
      >
        Sign-up
      </button>
    </div>

    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none"
        id="dropdownUser1"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <span> Logout <i class="fas fa-sign-out-alt"></i></span>
      </a>
    </div>
  </div>

  <div
    class="cross d-flex justify-content-center align-items-center bg-white"
    (click)="hide_aside()"
  >
    <i class="fas fa-times"></i>
  </div>
</div>
